{% load django_bootstrap5 %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Título de la barra de navegación -->
        <a class="navbar-brand" href="{% url 'index' %}">MotorPartExpress</a>
        
        <!-- Menú principal -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!--fecha de sesion-->
                <li class="nav-item text-white">
                    Fecha inicio:
                    <br>
                    {{ request.session.fecha_inicio }}
                </li>



                <!-- Inicio -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>

                <!-- clientes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clientes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_clientes' %}">Lista de clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'clientes_create' %}">Crear cliente</a></li>
                        <li><a class="dropdown-item" href="{% url 'clientes_busqueda' %}">Buscar cliente</a></li>         
                    </ul>
                </li>

                <!-- proveedores -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="proveedoresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Proveedores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="proveedoresDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_proveedor' %}">Lista de Proveedores</a></li>
                        <li><a class="dropdown-item" href="{% url 'proveedor_create' %}">Crear Proveedores</a></li>
                        <li><a class="dropdown-item" href="{% url 'proveedor_busqueda' %}">Buscar Proveedores</a></li> 
                    </ul>
                </li>

                <!-- empleados -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="empleadosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Empleados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="empleadosDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_empleado' %}">Lista de empleados</a></li>
                        <li><a class="dropdown-item" href="{% url 'empleado_create' %}">Crear Empleados</a></li>
                        <li><a class="dropdown-item" href="{% url 'empleado_busqueda' %}">Buscar Empleados</a></li>
                    </ul>
                </li>


                <!-- pedidos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pedidosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pedidos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="pedidosDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_pedido' %}">Lista de pedidos</a></li>
                        <li><a class="dropdown-item" href="{% url 'pedido_create' %}">Crear pedido</a></li>
                        <li><a class="dropdown-item" href="{% url 'pedido_busqueda' %}">Buscar pedido</a></li>
                    </ul>
                </li>


                <!-- piezamotor -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="piezamotorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Piezas de motores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="piezamotorDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_piezamotor' %}">Lista de piezas de motores</a></li>
                        <li><a class="dropdown-item" href="{% url 'piezamotor_create' %}">Crear pieza</a></li>
                        <li><a class="dropdown-item" href="{% url 'piezamotor_busqueda' %}">Buscar pieza</a></li>
                    </ul>
                </li>

                <!-- MetodoPago -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="MetodoPagoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Métodos de pago
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="MetodoPagoDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar_metodopago' %}">Lista de métodos de pago</a></li>
                        <li><a class="dropdown-item" href="{% url 'metodopago_create' %}">Crear MetodoPago</a></li>
                        <li><a class="dropdown-item" href="{% url 'metodopago_busqueda' %}">Buscar MetodoPago</a></li>
                    </ul>
                </li>
                
            </ul>

            <!-- Formulario de búsqueda alineado a la derecha -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
